<div class="detail-view-wrapper">

  <i class="material-icons modal-clear" (click)="onNoClick()">
    clear
  </i>

  <div class="detail-info-content">
    <div class="detail-image">
      <img src="{{element.minImg}}">
    </div>

    <div class="detail-info-right">
      <div class="detail-name">{{element.name}}</div>
      

      <div class="detail-price-number">
        <div class="price">
          {{element.price}} грн
        </div>

        <div class="number-wrapper">
          <div class="title">
            Для замовлення дзвоніть за телефоном
          </div>
          <div class="content">
            <div class="number">
              +38 (099) 55 21 395
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="detail-detail-info">
    <div class="title">
      Інформація
    </div>

    <div class="content">
      Режим TapFly дает полную свободу творчества: вам всего лишь нужно скомпоновать кадр. Задайте направление на экране телефона, и Spark отправится туда, распознавая препятствия с помощью системы обзора. Захотелось поснимать в другом месте? Выберите нужную точку на экране и дрон плавно изменит траекторию. Легко и просто.
      Режим TapFly дает полную свободу творчества: вам всего лишь нужно скомпоновать кадр. Задайте направление на экране телефона, и Spark отправится туда, распознавая препятствия с помощью системы обзора. Захотелось поснимать в другом месте? Выберите нужную точку на экране и дрон плавно изменит траекторию. Легко и просто.
    </div>
  </div>


</div>
