.footer-wrapper {
  background-color: mistyrose;
  display: block;
}

.footer-text-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  display: block;
}

.footer-logo {
  margin: 0 auto;
  width: 300px;
}

.social {
  margin: 10px auto;
  color: #ffffff;
  text-align: center;
}

.fa {
  padding: 0 5px;
}

.footer-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 2px;
}

.shceduler {
  color: #D81466;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 10px;
}

.copyright {
  background-color: black;
  font-size: 12px;
  color: #ffffff;
  padding: 2px;
  text-align: center;
}
