.footer-wrapper {
  text-align: center;
}

.footer-title {
  font-size: 36px;
  margin: 20px 0;
}

.footer-content {
  padding: 4px 0;
}

.footer-call-us {
  font-size: 32px;
  padding: 12px 0;
}

agm-map {
  height: 300px;
}

.copyright {
  background-color: black;
  font-size: 12px;
  color: #ffffff;
  padding: 2px;
  text-align: center;
}
