<div class="footer-wrapper" id="contacts">

  <div class="logo-display" style="margin-top: 30px">
    <img class="header-logo-img" src="assets/photo/logo.png" style="height: 120px;">
  </div>

  <div class="footer-title">
    Контакти
  </div>
  <div class="footer-content">
    Телефон
  </div>
  <div class="footer-content">
    (099) 552 13 95
  </div>
  <div class="footer-content">
    dronix@gmail.com
  </div>
  <div class="footer-content">
    Адреса: м. Львів, вул. Богдана Хмельницького 48
  </div>
  <div class="footer-call-us">
    Подзвоніть нам!
  </div>

  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>

<!-- copyright -->

<div class="copyright">
  Copyright @ 2019 Dronix. All Right Reserved
</div>
