.fullImage {
  max-width: 100%;
  max-height: 550px;
}

.image-container {
  position: relative;
  //width: 100%;
  //height: 100%;
}

.icon {
  position: absolute;
  cursor: pointer;
  color: white;
  font-size: 40px;
}

.del-icon {
  right: 10px;
  top: 10px;
  text-shadow: 2px 2px 8px black;
}

.left-icon {
  left: 10px;
  top: 50%;
  transform: rotate(180deg);
  font-size: 25px;
  padding: 10px;
  text-shadow: 2px 2px 8px black;
}

.right-icon {
  right: 10px;
  top: 50%;
  font-size: 25px;
  padding: 10px;
  text-shadow: 2px 2px 8px black;
}

.left-icon:hover {
  background-color: lightslategrey;
  border-radius: 50%;
}

.right-icon:hover {
  background-color: lightslategrey;
  border-radius: 50%;
}
