<div class="service-wrapper" id="service">
  <div class="service-title">
    Наші Послуги
  </div>

  <div class="second-title">
    Діагностика і ремонт квадрокоптерів
  </div>
  <div class="drone-service">
    <div class="block-4">
      <div class="icon">
        <i class="material-icons">
          assignment_turned_in
        </i>
      </div>
      <div class="title">
        Гарантія на виконані роботи
      </div>
      <div class="content">
        Ми впевнені в якості наданих нами послуг тому надаємо гарантію на виконані роботи.
      </div>
    </div>

    <div class="block-4">
      <div class="icon">
        <i class="material-icons">
          build
        </i>
      </div>
      <div class="title">
        Ремонт з сертифікованих деталей
      </div>
      <div class="content">
        Ремонт виконують професійні майстри. <br>
        Вся техніка після ремонту проходитить спеціальне тестування.
      </div>
    </div>

    <div class="block-4">
      <div class="icon">
        <i class="material-icons">
          query_builder
        </i>
      </div>
      <div class="title">
        Терміновий ремонт
      </div>
      <div class="content">
        В деяких випадках ми можемо провести терміновий ремонт, але за відповідну оплату.
      </div>
    </div>
  </div>


  <div class="drone-used">
    <div class="used-text">
      <div class="third-title">
        Викуп і продаж Б/У квадрокоптерів
      </div>

      <div class="used-full-content">

        <div class="used-content">
          <i class="material-icons icon">
            fiber_manual_record
          </i>
          Попали в аварію?
          <br>
          Ми готові викупити Ваш апарат на запчастини.
        </div>

        <div class="used-content">
          <i class="material-icons icon">
            fiber_manual_record
          </i>
          Також пропонуємо Вам б/у квадрокоптери, за вигідною ціною, які пройшли всі тестування і готові до польотів.
        </div>
      </div>

    </div>
    <div class="used-image">
      <img src="assets/photo/crash.jpg" alt="">
    </div>
  </div>

  <div class="drone-used justify-reverse">
    <div class="used-image">
      <img src="assets/photo/pilot.jpg" alt="">
    </div>
    <div class="used-text">
      <div class="third-title">
        Курси навчання пілотів
      </div>

      <div class="used-full-content">

        Допомагаємо вивчити початки управління технікою.
        <br>
        <br>
        Курс складається з теоретичної частини, де пояснюємо головні правила і практичної, де Ви зможете на практиці
        перевірити і закріпити свої знання.

      </div>
    </div>

    <!--<div class="service-content">-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur corporis eaque eius eos eum excepturi fugiat impedit iusto laboriosam maiores nemo quam quas quod quos ratione, similique sit voluptate.-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ducimus expedita fuga hic nesciunt odio quisquam voluptas! Aliquam asperiores dolores, magnam omnis sit temporibus ullam. Atque doloremque fugiat ipsam temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut, corporis dolor eius fuga, impedit iusto magni maiores maxime minima natus nobis nostrum obcaecati placeat quis repudiandae sit veritatis! Eum?-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, beatae eos eveniet illo minima nam quo tempore. Architecto atque consectetur enim est numquam perferendis porro, quia. Accusantium maxime quas veritatis.-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolor est, explicabo fuga harum, id iure nesciunt possimus praesentium rem, reprehenderit repudiandae sit? Culpa ducimus earum enim eveniet omnis quia.-->
    <!--</div>-->
  </div>
</div>
