<div class="service-wrapper" id="service">
  <div class="service-title">
    Послуги
  </div>
  <div class="service-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur corporis eaque eius eos eum excepturi fugiat impedit iusto laboriosam maiores nemo quam quas quod quos ratione, similique sit voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ducimus expedita fuga hic nesciunt odio quisquam voluptas! Aliquam asperiores dolores, magnam omnis sit temporibus ullam. Atque doloremque fugiat ipsam temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut, corporis dolor eius fuga, impedit iusto magni maiores maxime minima natus nobis nostrum obcaecati placeat quis repudiandae sit veritatis! Eum?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, beatae eos eveniet illo minima nam quo tempore. Architecto atque consectetur enim est numquam perferendis porro, quia. Accusantium maxime quas veritatis.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolor est, explicabo fuga harum, id iure nesciunt possimus praesentium rem, reprehenderit repudiandae sit? Culpa ducimus earum enim eveniet omnis quia.
  </div>
</div>
