.main-title {
  font-family: 'RoboRoboto';
  font-style: italic;
  font-size: 48px;
  color: #292929;
  text-align: center;
  margin: 50px auto 0 auto;
  display: block;
}

.button-wrapper {
  text-align: center;
  margin: 10px 0;
}

.button {
  border-radius: 8px;
  margin: 0 10px;
  padding: 10px;
  color: black;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  border: 2px solid white;
}

.button:focus {
  outline-color: white;
}

.active-button {
  border: 2px solid #D81466;
}

.menu-content {
  text-align: center;
  background-image: url('../../assets/photo/img17min.jpg');
  background-size: cover;
}

.menu-img {
  border-radius: 8px;
  border: 1px solid grey;
  max-width: 100%;
}
