<header>
  <div id="logo" class="menuUp">
    <div class="logo-display">
      <img class="header-logo-img" src="assets/photo/logo.png" style="width: 157px;height: 80px;">
    </div>
    <div id="navToggle"><a href="#" (click)="showMenu()">Меню</a></div>
  </div>
  <nav [ngClass]="{'display-menu': displayMenu}" [ngClass]="{'none-menu': !displayMenu}">
    <ul>
      <li><a href="#main">Про нас</a></li>
      <li><a href="#service">Послуги</a></li>
      <li><a href="#catalog">Каталог</a>
      <li><a href="#contacts">Контакти</a></li>
    </ul>
  </nav>
</header>

<app-slider></app-slider>
<app-service></app-service>
<app-drones-catalog></app-drones-catalog>
<app-catalog></app-catalog>
<app-footer></app-footer>


