@media all and (max-width: 700px) {
  .drone-info {
    flex-direction: column;
  }
  .drone-characteristics {
    max-width: 100%;
    padding: 0 40px 40px 40px;
  }

  .characteristic {
    width: 100%;
  }

  .drone-content {
    flex-direction: column-reverse;
    max-width: 100%;
    width: 100%;
  }
}

.drone-catalog-wrapper {
  margin: 50px 0;
}

.drone-catalog-title {
  font-size: 36px;
  margin: 20px 0;
  text-align: center;
}

.drone-info-back1 {
  background-image: url("../../assets/photo/drone-back.jpg");
}

.drone-info-back2 {
  background-image: url("../../assets/photo/drone-back.jpg");
}

.drone-info-wrapper {
  margin: 50px 0;
}

.drone-info {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 20px;
  display: flex;

  .drone-content {
    display: flex;
    //margin: 20px;
    padding: 30px;
    //width: 50%;
    //min-width: 650px;
    background-color: white;

    .image {
      width: 50%;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;

      img {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
      }
    }

    .content-info {

      .title {
        font-size: 24px;
        font-weight: bold;
      }

      .text {
        margin: 10px 0;
      }

      .price {
        color: #148bbc;
        font-size: 24px;
      }

    }

  }
}

.details-content {
  max-width: 100%;
}

.details-info {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;

  .details-full-info {
    border: 1px solid #e0e0e0;
    box-shadow: 3px 3px 6px grey;
    cursor: pointer;
    display: flex;
    min-width: 150px;

    img {
      width: 100%;
    }

    .drone-price-number {
      color: #148bbc;
    }
  }

  .details-full-info:hover {
    box-shadow: 3px 3px 16px #148bbc;
  }

}

.detail-elem-text {
  padding: 0 8px 8px 16px;
  white-space: normal;
  max-width: 100%;
}

.drone-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.characteristic {
  width: 50%;
  float: left;
  margin: 5px 0;
  display: flex;

  .icon {
    color: #DADADA;

    i {
      color: #148bbc;
      font-size: 56px;
    }
  }

  .title {
    font-size: 16px;
  }

  .content-info {
    font-size: 20px;
    font-weight: bold;
  }
}


.drone-characteristics {
  background-color: white;
  padding: 40px 10px;
}

@media all and (max-width: 700px) {
  .drone-info {
    flex-direction: column;
  }
  .drone-characteristics {
    max-width: 100%;
    padding: 0 40px 40px 40px;
  }

  .characteristic {
    width: 100%;
  }

  .drone-content {
    flex-direction: column-reverse;
    max-width: 100%;
  }
}

@media all and (min-width: 700px) and (max-width: 1200px) {
  .drone-info {
    flex-direction: column;
  }
  .drone-characteristics {
    width: 50%;
    min-width: 650px;
    padding: 0 40px 40px 40px;
  }
}

@media all and (min-width: 700px) {
  .drone-content {
    width: 50%;
    min-width: 650px;
  }
}



body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}
.append-buttons a {
  display: inline-block;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

@media all and (max-width: 814px) {
  .details-info {
    flex-direction: column;
  }

  .details-full-info {
    width: 40%;
    margin: 10px auto;
  }
}

@media all and (min-width: 815px) {
  .details-info {
    flex-direction: row;
  }

  .details-full-info {
    width: 20%;
    margin: 10px;
  }
}

