<div class="catalog-wrapper" id="catalog">
  <div class="catalog-title">
    Каталог
  </div>
  <div class="catalog-buttons">
    <div class="catalog-button align-right" [ngClass]="{'catalog-active' : isDronsActive}" (click)="dronsActive()">
      Дрони
    </div>
    <div class="catalog-button align-left" [ngClass]="{'catalog-active' : !isDronsActive}" (click)="detailsActive()">
      Запчастини до дронів
    </div>
  </div>
  <div class="filter-wrapper">
    <div class="filter-left">
      <div class="filter-name">
        <i style="vertical-align: text-bottom" class="material-icons">
          filter_list
        </i>
        Фільтр
      </div>
      <form [formGroup]="dronForm" class="filter-brands" *ngIf="isDronsActive">
        <select formControlName="dronControl" class="brand-select">
          <option [value]="brand" *ngFor="let brand of brands">{{brand}}</option>
        </select>
      </form>

      <form [formGroup]="detailForm" class="filter-brands" *ngIf="!isDronsActive">
        <select formControlName="detailControl" class="brand-select">
          <option [value]="detail" *ngFor="let detail of details">{{detail}}</option>
        </select>
      </form>
    </div>

    <div class="filter-sorting">
      <div class="sorting-title">
        Сортувати за
      </div>
      <button mat-button class="sorting-button sorting-button-left" (click)="sortByName()" [ngClass]="{'selected-item': sortedByName === true || sortedByName === false}">
        Назвою
        <img src="assets/icons/sort-active.svg" alt="" *ngIf="sortedByName === true" style="transform: rotate(180deg)">
        <img src="assets/icons/sort-active.svg" alt="" *ngIf="sortedByName === false">
        <img src="assets/icons/sort-unactive.svg" alt="" *ngIf="sortedByName !== true && sortedByName !== false">
      </button>
      <button mat-button class="sorting-button sorting-button-right" (click)="sortByPrice()" [ngClass]="{'selected-item': sortedByPrice === true || sortedByPrice === false}">
        Ціною
        <img src="assets/icons/sort-active.svg" alt="" *ngIf="sortedByPrice === true" style="transform: rotate(180deg)">
        <img src="assets/icons/sort-active.svg" alt="" *ngIf="sortedByPrice === false">
        <img src="assets/icons/sort-unactive.svg" alt="" *ngIf="sortedByPrice !== true && sortedByPrice !== false">
      </button>
    </div>
  </div>

  <div class="drons-wrapper">
    <div *ngFor="let elem of contentToShow; index as i">
      <div class="drone-info" [ngClass]="{'catalog-element': i > 7 && !fullCatalog}" (click)="isDronsActive ? openViewDroneModal(elem) : openViewDetailModal(elem)">
        <div class="gallery">
          <a rel="simplebox" target="_blank">
            <img src="{{elem.minImg}}">
          </a>
        </div>
        <div class="drone-name">
          {{elem.name}}
        </div>
        <div class="drone-price-number">
          {{elem.price}} грн
        </div>
      </div>
    </div>
  </div>

  <div class="show-more-button-wrapper">
    <button *ngIf="!fullCatalog" (click)="fullCatalog = true" mat-button class="show-more-button">
      Показати більше
    </button>
    <button *ngIf="fullCatalog && isDronsActive" (click)="fullCatalog = false" mat-button class="show-more-button">
      Приховати дрони
    </button>
    <button *ngIf="fullCatalog && !isDronsActive" (click)="fullCatalog = false" mat-button class="show-more-button">
      Приховати запчастини
    </button>
  </div>
</div>
<div></div>
