.galery-wrapper {
  background-color: #ffffff;
}

.main-title {
  font-family: 'RoboRoboto';
  font-style: italic;
  font-size: 48px;
  color: #292929;
  text-align: center;
  margin: 50px auto;
  display: block;
}

.galery-images {
  margin: 0 auto 10px auto;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 10%;
  width: 100%;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.responsive {
  padding: 4px 4px;
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.galery-element {
  display: none;
}

.galery-button {
  text-align: center;
}

.button {
  border-radius: 8px;
  padding: 10px;
  color: white;
  background-color: #D81466;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.button:hover {
  opacity: 0.9;
}

@media all and (min-width: 815px) {
  .responsive {
    padding: 8px 8px;
    float: left;
    width: 33.33333%;
    box-sizing: border-box;
  }
}
