<!-- galery -->

<section class="galery-wrapper" id="galery">
  <div class="main-title">Галерея</div>

  <div class="galery-images">

    <div *ngFor="let elem of imagesArr; index as i">
      <div class="responsive" [ngClass]="{'galery-element': i > 5 && !fullGalery}">
        <div class="gallery">
          <a rel="simplebox" target="_blank" href="{{elem.fullImg}}">
            <img src="{{elem.minImg}}" alt="{{elem.title}}">
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="galery-button">
    <button *ngIf="!fullGalery" class="button" (click)="fullGalery = true">Показати більше</button>
    <button *ngIf="fullGalery" class="button" (click)="fullGalery = false">Приховати зображення</button>
  </div>

</section>

